/* Styles globaux */
body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 90px;
}

/* Styles pour le header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
}

header button {
  padding: 10px;
  cursor: pointer;
}

/* Styles pour le main */
main section {
  margin-bottom: 40px;
}

main img {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

/* Styles pour le footer */
footer {
  text-align: center;
  margin-top: 40px;
}

/* Styles pour les sections */
section {
  margin: 40px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

section p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
}

/* Styles pour le formulaire */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input,
form textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

form input:focus,
form textarea:focus {
  border-color: #007bff;
}

form textarea {
  resize: vertical;
  min-height: 150px;
}

form button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}

/* Styles pour le mode sombre */
.dark-mode section {
  background-color: #333;
  color: #fff;
}

.dark-mode section h3 {
  color: #fff;
}

.dark-mode section p {
  color: #ddd;
}

.dark-mode form input,
.dark-mode form textarea {
  background-color: #444;
  border-color: #555;
  color: #fff;
}

/* Styles pour les champs de formulaire en mode clair */
.light-mode form input,
.light-mode form textarea {
  background-color: #fff;
  border-color: #ccc;
  color: #000;
}

.dark-mode form input:focus,
.dark-mode form textarea:focus {
  border-color: #007bff;
}

.dark-mode form button {
  background-color: #007bff;
}

.dark-mode form button:hover {
  background-color: #0056b3;
}

.dark-mode img {
  filter: brightness(0.8); /* Assombrir légèrement les images en mode sombre */
}

.dark-mode h1 {
  color: #ffcc00; /* Changer la couleur des titres h2 en mode sombre */
}